html, body {
  margin: 0;
  padding: 0;
  background: #0b3c5d;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: block;
  margin: 20px auto;
  background: #0b3c5d;
  border: 6px solid white;
}
